# === Secrets & Environnement ===
.env

# === Python ===
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# === Airflow ===
logs/
plugins/

# === IDE ===
.vscode/
.idea/
*.swp
*.swo

# === OS ===
.DS_Store
Thumbs.db

## === Jupyter Notebook ===
.ipynb_checkpoints/

## === ai ===
# Données ML locales
data/raw/
data/processed/
src/ml/models/*.pkl
src/ml/models/*.json